@model CalculatorViewModel

<h1>@Model.PageTitle</h1>

<p>
    This utility allows one to graph a function, as well as compute and graph the derivative.
    Please enter the function below.
</p>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label for="inputEquation">f(x) = </label>
        <input type="text" name="equation" />
        <input type="submit" class="btn btn-default" value="Calculate" />

    </div>
}

@if (Model.Calculation.InputEquation.contents != null)
{
    <p>f(x) = @Model.Calculation.InputEquation.contents</p>
}
@if (Model.Calculation.OutputEquation.contents != null)
{
    <p>f'(x) = @Model.Calculation.OutputEquation.contents</p>
}